{
	"ModInfo" : {
		"__type" : "ModInfo,Assembly-CSharp",
		"value" : {
			"id" : "BrutalOrchestraModding.Grimoire",
			"name" : "Grimoire v0.0.2",
			"version" : "0.0.2",
			"description" : "Adds new status effects and passives to the game for modders to use.\n\nGitHub repository: https://github.com/SpecialAPI/Grimoire/",
			"authors" : "157",
			"showIconOnMainMenu" : true
		}
	}
}